

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px;
} 

header{
    display: flex; 
    flex-direction: column;  
} 

main{
    display: flex; 
    flex-direction: column; 
}
.menu{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 5%; 
    height: 85px1; 
    background-color: #F8FC53;
} 

.left-menu{
    display: flex; 
    gap: 50px;
} 

nav ul li{
    display: inline-block; 
    margin-right: 60px; 
    margin-top: 60px; 
} 

nav ul li a{
    text-decoration: none; 
    color: black;  
    font-size: 30px; 
    font-family: 'Roboto', sans-serif;
} 

.right-menu{
    display: flex; 
    align-items: center; 
    gap: 20px;
} 

.carrinho img{
    width: 50px;
}

.line{
    height: 1px; 
    background-color: #000000; 
    width: 100%; 
    align-self: center;
} 

.left-side{
    display: flex; 
    flex-direction: column; 
    width: 100%;

}
 
.right-side{
    width: 100%;
}

.right-side h6{
    color: #F8FC53;
} 

.container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(360px, auto)); 
    align-items: center; 
    gap: 10rem; 
    text-align: center; 
    cursor: pointer; 
    padding-top: 2rem; 
    padding-bottom: 4rem;
} 

.product{ 
    padding: 0px 20px 10px 20px; 
    background: transparent; 
    box-shadow: 10px 60px 56.1276px rgba(0, 0, 0, 0.12); 
    border-radius: 10px; 
    position: relative; 
    transition: all .35s ease;
} 

.product img {
    width: 100%; 
    height: auto;
}

.product p { 
    background: #000000;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
}  

:root{
    --color-neutral-0: #0e0c0c; 
    --color-neutral-10: #171717; 
    --color-neutral-30: #a8a29e; 
    --color-neutral-40: #f5f5f5; 
}


footer{
    width: 100%; 
    color: var(--color-neutral-0); 
} 

.footer-link{
    text-decoration: none;
}
#footer_content{
    background-color: #E3E640; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    padding: 3rem 3.5rem;
} 

#footer_contacts h1{
    margin-bottom: 0.75rem;
}  

#footer_social_media{
    display: flex; 
    gap: 2rem; 
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    height:  2.5rem; 
    width: 2.5rem; 
    color: var(--color-neutral-0); 
    border-radius: 50%; 
    transition: all 0.4s;
}  

#footer_social_media .footer-link i{
    font-size: 1.25rem; 
}

#footer_social_media .footerl-link:hover {
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
} 

#watsapp{
    background-color: #25d366;
} 

.footer-list{
    display: flex; 
    flex-direction: column; 
    gap: 0.75rem; 
    list-style: none;
} 

.footer-list .footer-link{
    color: var(--color-neutral-0);
} 

.footer-list .footer-link:hover{
    color: #7f37c9;
} 

#footer_subscribe{
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem;
} 

#footer_subscribe p{
    color: var(--color-neutral-0);
} 

#input_group{
    display: flex; 
    align-items: center; 
    background-color: var(--color-neutral-40); 
    border-radius: 4px;  
} 

#input_group input{
    all: unset; 
    padding: 0.75rem; 
    width: 100%;
} 

#input_group button{
    background-color: #ff9807; 
    border: none; 
    color: var(--color-neutral-40); 
    padding: 0px 1.25rem; 
    font-size: 1.15rem; 
    height: 100%; 
    border-radius: 0px 4px 4px 0px; 
    cursor: pointer; 
    transition: all 0.4s;
} 

#input_group button:hover{
    opacity: 0.8;
} 

#footer_copyright{
    display: flex; 
    justify-content: center; 
    background-color: #a8a29e; 
    font-size: 0.9rem; 
    padding: 1.5rem; 
    font-weight: 100%;
} 

@media screen and (max-widht: 768px) { 
    #footer_content{
        grid-template-columns: repeat(2,1fr); 
        gap: 2rem; 
    }
    
} 

@media screen and (max-widht: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr); 
        padding: 3rem 2rem;
    }
} 
    
    